<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <!-- About Section -->
            <div class="footer-column">
                <h3>About Us</h3>
                <p>Your ultimate destination for delicious and diverse food products! <br>
                     We strive to bring you the best quality ingredients and recipes to make every <br>
                      meal a delight. <br>
                    Explore our wide range of products and <br> enjoy a taste  of excellence with every bite. <br>
                    For inquiries or support, feel free to contact us!</p>
            </div>
            <!-- Links Section -->
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                </ul>
            </div>
            <!-- Contact Section -->
            <div class="footer-column">
                <h3>Contact Us</h3>
                <p>104/2c Tavarakare road, Koromangla, karnataka, 560002</p>
                <p>Email: info&#64;example.com</p>
                <p>Phone: +91 8210619307</p>
            </div>
            <!-- Social Media Section -->
            <div class="footer-column">
                <h3>Follow Us</h3>
                <div class="footer-social-icons">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" alt="Facebook">
                    </a>
                    <a href="https://x.com/Venkatesh_2302" target="_blank">
                        <img src="https://img.icons8.com/fluent/48/000000/twitter.png" alt="Twitter">
                    </a>
                    <a href="https://www.instagram.com/venkatesh_2302/" target="_blank">
                        <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com/in/kumar-venkateshh/" target="_blank">
                        <img src="https://img.icons8.com/fluent/48/000000/linkedin.png" alt="LinkedIn">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 FOODMANIA. All rights reserved.</p>
        </div>
    </div>
</footer>
