<!-- navbar.html -->
<div class="container">
  <button class="hamburger-button" (click)="toggleSidebar()" [class.disabled]="isDisabled">
    &#9776; <!-- Hamburger icon -->
  </button>

  <nav class="side-menu" [class.open]="isSidebarOpen">
    <button class="close-btn" (click)="closeSidebar()">×</button>
    <h1>FOODMANIA</h1>
    <div class="menu-content">
      <a class="menu-item" [routerLink]="['/home']">HOME</a>
      <a *ngIf="isAdmin" class="menu-item" [routerLink]="['/products']">PRODUCTS</a>
      <a *ngIf="!isAdmin" class="menu-item" [routerLink]="['/sign-in']">Sign In</a>
      <a *ngIf="!isAdmin" class="menu-item" [routerLink]="['/sign-up']">Sign Up</a>
      <a *ngIf="!isAdmin" class="menu-item" [routerLink]="['/cart']">CART</a>
      <a class="menu-item" [routerLink]="['/shop']">SHOP</a>
      <a class="menu-item" [routerLink]="['/contactus']">Contact Us</a>
      <a *ngIf="!isAdmin" class="menu-item" [routerLink]="['/order']">ORDER</a>
      <!-- Logout button, only visible if the user is an admin -->
      <a class="menu-item" (click)="logout()">Logout</a>
    </div>
  </nav>

  <div class="main-content" [class.sidebar-open]="isSidebarOpen">
    <!-- Your main content goes here -->
    <router-outlet></router-outlet>
  </div>
</div>
