<div class="contact-container">
  <div class="contact-content">
    <h1>Contact Us</h1>
    <p>If you have any questions or need assistance, feel free to reach out to our team below.</p>

    <div class="team-member-container">
      <div class="team-member">
        <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="Admin" class="team-member-img">
        <div class="team-member-info">
          <h2>Admin Name</h2>
          <p>Role: Owner</p>
          <a href="mailto:foodmania&#64;example.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" alt="Gmail Logo" class="contact-icon"> 
          </a> Contact throgh mail
          <p>Phone: 9834567890</p>
        </div>
      </div>
    </div>

    <div class="team-member-container">
      <div class="team-member">
        <img src="https://randomuser.me/api/portraits/women/76.jpg" alt="Team Member 1" class="team-member-img">
        <div class="team-member-info">
          <h2>Team Member 1</h2>
          <p>Role: Manager</p>
          <a href="mailto:foodmania&#64;gmail.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" alt="Gmail Logo" class="contact-icon"> 
          </a> Contact throgh mail
          <p>Phone: 9876543221</p>
        </div>
      </div>
    </div>

    <div class="team-member-container">
      <div class="team-member">
        <img src="https://randomuser.me/api/portraits/men/77.jpg" alt="Team Member 2" class="team-member-img">
        <div class="team-member-info">
          <h2>Team Member 2</h2>
          <p>Role: Security Staff</p>
          <a href="mailto:foodmania&#64;gmail.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" alt="Gmail Logo" class="contact-icon"> 
          </a> Contact throgh mail
          <p>Phone: 7423343455</p>
        </div>
      </div>
    </div>

  </div>
</div>
