<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodmania</title>
    
</head>
<body>

<div class="welcome-message">
   <h1> Welcome to Foodmania! </h1><br>Enjoy a delightful culinary experience with our exquisite dishes.
</div>

<main class="content">
    <section class="image-grid">
        <div class="grid-item">
            <img src="assets/food-1.jpg" alt="Product 1">
            <div class="overlay">Fresh and Delicious</div>
        </div>
        <div class="grid-item square">
            <img src="assets/food-2.jpg" alt="Product 2">
            <div class="overlay">Gourmet Flavors Await</div>
        </div>
        
        
        <div class="grid-item square">
            <img src="assets/food-4.jpg" alt="Product 4">
            <div class="overlay">Seasonal Specials</div>
        </div>
        <div class="grid-item">
            <img src="assets/food-5.jpg" alt="Product 5">
            <div class="overlay">Farm-to-Table Freshness</div>
        </div>
        <div class="grid-item square">
            <img src="assets/food-6.jpg" alt="Product 6">
            <div class="overlay">Chef's Recommendations</div>
        </div>
       
    </section>
</main>

</body>
</html>
